**/node_modules/
**/package-lock.json

**/dist/
**/build/

**/.env*
**/.env.local
**/.env.development

**/.idea/
**/.vscode/
**/.DS_Store

!.dockerignore
!.gitignore

**/public/

**/README.md    
**/LICENSE
**/CHANGELOG.md
